/* main */
*{
  box-sizing: border-box;
  /* margin: 0; */
}
:root{
--main-color:#00c3da;
}
.text-main{
  color: var(--main-color);
}
.bg-main{
  background-color: var(--main-color);
}
.about-content a{
  background-color: black;
  color: #fff ;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-size: 18px;
  /* height: 40px; */
}
.about-content a:hover{
  transform: translateY(-1px);
  background-color: white;
  color: black;
}
.button-submit{
  background-color: black;
  color: #fff ;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
}
.button-submit:hover{
  transform: translateY(-1px);
  background-color: white;
  color: black;
}
.btn-main{
  background-color: #354EC6;
  color: #fff ;
  transition: all 0.1s;
}
.btn-main:hover{
  transform: translateY(-1px);
  background-color: transparent;
  color: #fff;
}
i{
  cursor: pointer;
}
body{
  font-family: 'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}
section{
  /* padding: 60px 0px; */
  margin: 60px 0px;
}
*::selection{
  background-color: black;
  color: #fff;
}

.watermarked h3{
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  color: rgba(128, 128, 128,0.1);
  font-weight: 800;
  font-size: 70px;
}
/* end of main */


/* header */
.first-header{
  background-image: url(./../img/CC1.jpg);
  background-position: center center;
  background-size: cover;
}
.second-header{
  background-image: url(./../img/CC2.jpg);
  background-position: center center;
  background-size: cover;
}
header .layer{
  background-color: rgba(31, 31, 31,0.5);
}
header .carousel-control-next {
  left: 0;
}
header .carousel-control-next, header .carousel-control-prev {
  position: static;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: fit-content;
  opacity: 1;
}
header .carousel-control-next:hover, header .carousel-control-prev:hover{
  opacity: 1;
}
.move-header{
  border: #F7F7F7 0.5px solid;
  border-left: 0;
  padding: 5px 10px;
}
.move-layer{
  background-color: #fff;
  right: 120%;
  transition: all 0.5s;
  top: 0;
}
.move-header span{
  transition: color 0.5s;
  font-size: larger;
}
.move-header:hover .move-layer{
  right: 0;
}
.move-header:hover span{
  color: black;
}
/* end of header */



/* nav */
nav{
  z-index:1;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
#nav-toggler i{
  font-size:larger;
  opacity: 0.8;
}

.nav-item a{
  color: black !important;
  font-size: small;
}
.nav-item a:hover{
  color:rgba(0,0,0,.55) !important; 
}
.nav-vr{
  width: 1px;
  height: 100%;
  background-color: rgba(194, 194, 194,0.4);
  top: 0;
}
.nav-socials{
  display: none;
}

#logo1{
  text-decoration: none;
  color: black;
}

/* about */
.typing::before{
  content: "";
  animation: typing  infinite 5s;
}
@keyframes typing {
  0%{content:"W|";}
  2%{content:"We|";}
  4%{content:"Web|";}
  6%{content:"Webs|";}
  8%{content:"Websi|";}
  10%{content:"Websit|";}
  12%{content:"Website|";}
  14%{content:"Websit|";}
  18%{content:"Websi|";}
  31%{content:"Webs|";}
  32%{content:"Web";}
  34%{content:"We|";}
  36%{content:"W|";}
  38%{content:"|";}
  48%{content:"";}
  58%{content:"|";}
  68%{content:"";}
  70%{content:"A|";}
  72%{content:"Ap|";}
  74%{content:"App|";}
  76%{content:"Apps|";}
  78%{content:"App|";}
  80%{content:"Ap|";}
  82%{content:"A|";}
  84%{content:"|";}
  90%{content:"";}
  95%{content:"|";}
  100%{content:"";}
  
}


/* team */
.team .layer{
  background-color:  rgba(0, 195, 218, 0.9);
  width: 100%;
  height: 100%;
  top: 20%;
  font-size: small;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}
.team-member:hover .layer{
  opacity: 1;
  top: 0;
}

/* Services */
.services{
  background-color: #626262;
}
/* end of services */


/* pricing */
.card-title span{
  font-size: 15px;
}
.pricing, .comments{
  background-color: #f7f7f7;
}
.pricing .card-text{
  font-size: 15px;
  color: #787878;
}
.pricing .card{
  box-shadow: rgba(120, 120, 120,0.1) 0px 0px 20px 5px;
  transition: all 0.5s;
}
.pricing .card:hover{
  box-shadow: rgba(120, 120, 120,0.2) 0px 0px 20px 5px;
}

.card.prefered{
  transform: scale(1.1);
  z-index: 2;
}

/* comments */
.carousel-card img{
width: 100px;
height: 100px;
}
.comments .carousel-control-prev i{
  transition: all 0.3s;
  left: 0;
}
.nav-link{
margin: 6px;
}
.nav-item a{
  font-size: 15px;
  font-weight: 600;
}

.comments .carousel-control-prev:hover i, .comments .carousel-control-next:hover i{
  color: var(--main-color) !important ;
}
.comments .carousel-control-prev:hover i{
  left: -20px ;
}
.comments .carousel-control-next i{
  transition: all 0.3s;
  right: 0;
}
.comments .carousel-control-next:hover i{
  right: -20px ;
}
.carousel-indicators [data-bs-target]{
  width: 40px;
  height: 2px;
  background-color: white;
}
.circle .carousel-indicators [data-bs-target]{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.comments .carousel-item .container{
  width: 50% !important;
}

.text-bg-primary{
background-color: var(--main-color)!important;
}

/* end of cpmment */

/* contact */


input:focus{
  border: black 2px solid !important;
  box-shadow: 0 0 0 0  !important ;
}




/* new */
.feature{
/* display: flex; */

}
#feature {
  width: 100%;
  padding: 15px 0;
  margin: 40px 0px;
}
/* section #feature{
  padding: 60px 0px;
  margin: 60px 0px;
} */

.title-text {
  text-align: center;
  padding-bottom: 30px;
}

.title-text p {
  margin: auto;
  font-size: 20px;
  color: #354EC6;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text p::after{
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587,#fff);
  position: absolute;
  top: -20;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1 {
  font-size: 50px;

}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.text-container {
  flex-basis: 50%;
}

.features-img {
  flex-basis: 50%;
  margin: auto;
}
.features-img img {
  width: 70%;
  border-radius: 50%;
}

.text-container h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 50px;
  color: #354EC6;
}

.text-container .features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feature-icon {
  width: 100px;
  height: 40px;
  font-size: 25px;
  /* line-height: 50px; */
  border-radius: 8px;
  color:#354EC6 ;
  border: 1px solid #354EC6;
}

.text-container .feature-text p {
  padding: 0 20px;
  text-align: initial;

}

@media screen and (max-width: 770px) {

  .title-text h1 {
    font-size: 35px;
  
  }
  .features {
    flex-basis: 100%;
  }

  .features-img {
    flex-basis: 100%;
   
  }
  .features-img img {
    width: 100%;
    
  }
}




/*  try animation */

.feature.in-view {
  opacity: 1;  /* Make the element visible when in view */
}

.feature .image-container {
  flex-basis: 50%;
  margin: auto;
  opacity: 0;
  transform: translateX(150px);  /* Initially move image to the right */
  transition: transform 2.5s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}
.image-container img {
  width: 70%;
  border-radius: 50%;
}

.feature .text-container {
  opacity: 0;
  transform: translateX(-150px);  /* Initially move text to the left */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}

.feature.in-view .image-container {
  opacity: 1;
  transform: translateX(0);  /* Animate image to its original position */
}

.feature.in-view .text-container {
  opacity: 1;
  transform: translateX(0);  /* Animate text to its original position */
}


@media screen and (max-width: 770px) {

  .title-text h1 {
    font-size: 35px;
  
  }
  .text-container {
    flex-basis: 100%;
  }

  .image-container {
    flex-basis: 100%;
   
  }
  .image-container img {
    width: 100%;
    
  }
}


.feature_2.in-view {
  opacity: 1;  /* Make the element visible when in view */
}

.feature_2 .image-container2 {
  flex-basis: 50%;
  margin: auto;
  opacity: 0;
  transform: translateY(100px);  /* Initially move image to the right */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}
.image-container2 img {
  width: 70%;
  /* border-radius: 50%; */
}

.feature_2 .text-container {
  opacity: 0;
  transform: translateY(-100px);  /* Initially move text to the left */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}

.feature_2.in-view .image-container2 {
  opacity: 1;
  transform: translateY(0);  /* Animate image to its original position */
}

.feature_2.in-view .text-container {
  opacity: 1;
  transform: translateY(0);  /* Animate text to its original position */
}









.feature_3.in-view {
  opacity: 1;  /* Make the element visible when in view */
}

.feature_3 .image-container3 {
  flex-basis: 50%;
  margin: auto;
  opacity: 0;
  transform: translateY(100px);  /* Initially move image to the right */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}
.image-container3 img {
  width: 100%;
  /* height: ; */
  /* border-radius: 50%; */
}

.feature_3 .text-container {
  opacity: 0;
  transform: translateY(-100px);  /* Initially move text to the left */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}

.feature_3.in-view .image-container3 {
  opacity: 1;
  transform: translateY(0);  /* Animate image to its original position */
}

.feature_3.in-view .text-container {
  opacity: 1;
  transform: translateY(0);  /* Animate text to its original position */
}





.feature_4.in-view {
  opacity: 1;  /* Make the element visible when in view */
}

.feature_4 .image-container4 {
  flex-basis: 50%;
  margin: auto;
  opacity: 0;
  transform: translateY(150px);  /* Initially move image to the right */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}
.image-container4 img {
  width: 70%;
  /* display: flex; */
  /* height: ; */
  /* border-radius: 50%; */
}

.feature_4 .text-container {
  opacity: 0;
  transform: translateY(-150px);  /* Initially move text to the left */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;  /* Set animation properties */
}

.feature_4.in-view .image-container4 {
  opacity: 1;
  transform: translateY(0);  /* Animate image to its original position */
}

.feature_4.in-view .text-container {
  opacity: 1;
  transform: translateY(0);  /* Animate text to its original position */
}
